/* CUSTOM FONTS  : Defined Fonts*/

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans.woff') format('woff'), url('fonts/PT-Sans.ttf') format('truetype'), url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans-Bold.eot');
    src: url('fonts/PT-Sans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans-Bold.woff') format('woff'), url('fonts/PT-Sans-Bold.ttf') format('truetype'), url('fonts/PT-Sans-Bold.svg#pt_sansregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans-Italic.eot');
    src: url('fonts/PT-Sans-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans-Italic.woff') format('woff'), url('fonts/PT-Sans-Italic.ttf') format('truetype'), url('fonts/PT-Sans-Italic.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PT-Sans-BoldItalic.eot');
    src: url('fonts/PT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans-BoldItalic.woff') format('woff'), url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'), url('fonts/PT-Sans-BoldItalic.svg#pt_sansregular') format('svg');
    font-weight: bold;
    font-style: italic;
}


/* HTML */

html {
    background-color: #AC92A5;
    line-height: 1.7;
}


/***********************************/


/* BODY */

body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    /* z-index: 9; */
}


/***********************************/


/* HEADINGS - PARAGRAPHS */

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
}


/***********************************/


/* HEADER */

header {
    padding-top: 100px;
    color: #fff;
    background-color: #405c71;
    background-image: url(/images/flower.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
    color: #2c465a;
}

header p {
    font-size: 90%;
    margin: 0;
    color: #2c465a;
}


/***********************************/


/* SITE NAVIGATION */

.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    background-color: #365267;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
    transition-property: color;
    transition-duration: 1.5s;
}

.site-nav a:hover {
    /* background-color: #50738f; */
    background-color: #fff;
    color: #365267;
    ;
}


/***********************************/

@media screen and (max-width: 1023px) {
    .site-nav li {
        width: 33.332%;
        margin-right: 0;
    }
    .site-nav a {
        padding: 15px 0;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 15px 15px 15px 15px;
        -webkit-border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px 15px 15px 15px;
        -ms-border-radius: 15px 15px 15px 15px;
        -o-border-radius: 15px 15px 15px 15px;
    }
}

@media screen and (max-width: 767px) {
    .site-nav li {
        width: 50%;
    }
}


/***********************************/


/* IMAGES */

img {
    max-width: 100%;
    height: auto;
}


/***********************************/


/* LINKS */

a {
    text-decoration: none;
}


/***********************************/


/* MAIN COLUMN TYPOGRAPHY */

.content-area h2 {
    font-size: 200%;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-shadow: 2px 5px 5px #999999;
}

.section {
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: visible;
    /* overflow: hidden; */
}


/***********************************/

@media screen and (min-width: 1280px) {
    body {
        font-size: 16px;
    }
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/***********************************/


/* CONTENT-AREA */

.content-area {
    background-color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
}

@media screen and (max-width: 767px) {
    .content-area {
        padding-top: 20px;
    }
}

.main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}


/***********************************/


/* SIDEBAR : PROJECT 26 */

.sidebar {
    color: #999;
    font-size: 85%;
    padding-left: 30px;
    justify-content: space-between;
    text-align: justify;
}

.sidebar h3 {
    font-size: 138.5%;
    margin-bottom: 7px;
    text-align: center;
}


/***********************************/


/* INFO-BOX */


/* .info-box {
    background-color: #efeedb;
    border: 5px solid #e6e5c2;
    padding: 20px 40px 7px 40px;
    margin-bottom: 1em;
} */


/***********************************/


/* BOXES */

.box-a,
.box-b,
.box-c,
.box-d {
    background-color: #e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition-property: color;
    transition-duration: 3s;
}

.box-a:hover,
.box-b:hover,
.box-c:hover,
.box-d:hover {
    cursor: pointer;
    background-color: #F26D76;
    color: #FFFF41;
    font-weight: bold;
    font-size: large;
    transition-duration: .5s;
}


/***********************************/

@media screen and (max-width: 767px) {
    .box-a,
    .box-b,
    .box-c,
    .box-d {
        margin-bottom: 15px;
    }
}


/***********************************/


/* I M A G E S : TRANSFORM  */

.row {
    margin-right: -20px;
}

.col {
    width: 100%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

.row-transform {
    background-color: #B6DA26;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 40px;
}

.transform {
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    flex-basis: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
}

.transform h3 {
    margin: 10px 0px 15px 0px;
    font-size: 150%;
}

.transform-a {
    color: black;
    background-color: #ddd;
    transform: rotate(20deg) scale(1.2) skewX(3deg) translate(50px, -25px);
    z-index: 10;
}

.transform-b {
    color: white;
    background-color: #444;
    z-index: 11;
}

.transform-b:hover {
    color: white;
    background-color: #444;
    z-index: 11;
    transform: rotate(-360deg);
    cursor: pointer;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}


/* The below code is taken from :  https://easings.net/ */

.transform-b:hover {
    transition: transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.transform-a:hover {
    transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: 12;
    transform: rotate(360deg);
    cursor: pointer;
    -webkit-transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -moz-transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -ms-transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.bird,
.squirrel {
    padding: 20px;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .row-transform {
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-flow: column;
        padding: 10px auto;
        box-sizing: border-box;
    }
    ,
    .bird,
    .squirrel {
        padding: 20px;
    }
    ,
    .transform h3 {
        font-size: 200%;
    }
}


/***********************************/


/* I M A G E S  :  TRANSITION */


/* Banner Overlay */

.image-banner {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}

.image-banner img {
    display: block;
    transition: all 1.7s;
}

.image-banner:hover img {
    transform: scale(1.5);
    cursor: pointer;
}

.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 15px 25px;
    opacity: 0;
    transition-property: all;
    transition-duration: 1s;
    transform: translateY(100%);
}

.image-banner:hover .banner-description {
    opacity: 1;
    transform: translateY(0);
}


/* C I R C L E  */

.box-e {
    text-align: center;
    background-color: #626094;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-bottom: 40px;
    border-radius: 50%;
    transition: all 1s ease-out;
}


/* COLOR TONE : https://www.schemecolor.com/pastel-color-tones.php */

.box-e:hover {
    transform: rotate(360deg);
    cursor: pointer;
    color: #FFDFD3;
    background-color: #D291BC;
    font-weight: 500;
    font-size: xx-large;
}


/***********************************/


/* A N I M A T I O N */

.animation-container {
    max-width: 100%;
    margin: 0 auto;
    /* overflow: visible; */
    /* overflow: hidden; */
    height: 50vh;
    background-color: #CFEFBA;
    padding: 40px;
    margin: auto;
    align-content: space-between;
}

.animation-container>h2 {
    color: #2C3E39;
    font-size: 30px;
    line-height: 3rem;
    text-align: center;
    font-size: 200%;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 10px;
    text-shadow: 2px 5px 5px #999999;
}

.row-animation {
    margin-top: 40px;
}

.box-1-animation {
    margin-top: 40px;
    float: left;
    margin: auto;
}


/* BOUNCE ANIMATION : THE BOXES */


/* BEGIN : Bounce Animation */

@-webkit-keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    40% {
        transform: translateY(0);
    }
    55% {
        transform: translateY(-6px);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    40% {
        transform: translateY(0);
    }
    55% {
        transform: translateY(-6px);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* END : Bounce Animation */

.box-1-animation {
    animation-name: fadeBounce;
    animation-duration: 1s;
    background-color: #e7eff5;
    padding: 20px 20px 0px 20px;
    border: 2px solid #d3dee7;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition-property: color;
    transition-duration: 3s;
}

.boxes :nth-child(2) .box-1-animation {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.boxes :nth-child(3) .box-1-animation {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.boxes :nth-child(4) .box-1-animation {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}


/* ANIMATION : THE STAR */

@-webkit-keyframes slideSpin {
    50% {
        transform: translateX(150%) scale(0.5);
    }
    75% {
        transform: translateX(150%) rotate(180deg) scale(0.5);
    }
    100% {
        transform: translateX(300%) rotate(180deg);
        -webkit-transform: translateX(300%) rotate(180deg);
        -moz-transform: translateX(300%) rotate(180deg);
        -ms-transform: translateX(300%) rotate(180deg);
        -o-transform: translateX(300%) rotate(180deg);
    }
}

@keyframes slideSpin {
    50% {
        transform: translateX(150%) scale(0.5);
        /* background-color: #D291BC; */
    }
    75% {
        transform: translateX(150%) rotate(180deg) scale(0.5);
    }
    100% {
        transform: translateX(300%) rotate(180deg);
        -webkit-transform: translateX(300%) rotate(180deg);
        -moz-transform: translateX(300%) rotate(180deg);
        -ms-transform: translateX(300%) rotate(180deg);
        -o-transform: translateX(300%) rotate(180deg);
    }
}


/* THE STAR */

.star {
    -webkit-animation: slideSpin 2s infinite alternate forwards;
    animation: slideSpin 2s infinite alternate forwards;
    width: 25%;
    height: auto;
}


/***********************************/


/* ROW : ROUNDED-CORNERS */


/*
.row-rounded {
    display: flex;
}

.circle {
    text-align: center;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.oval {
    color: #fff;
    text-align: center;
    background-color: #444;
    width: 350px;
    height: 200px;
    line-height: 200px;
    margin-bottom: 40px;
    border-radius: 50%;
} */


/***********************************/


/* https://www.endocreative.com/flexbox-circle-responsive-elements/ */


/***********************************/


/* GRID SYSTEM FOR BOXES --- TEMPLATE */

.row {
    margin-right: -20px;
}

.col {
    width: 100%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}

.col-xs-11 {
    width: 91.662%;
}

.col-xs-10 {
    width: 83.332%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.662%;
}

.col-xs-7 {
    width: 58.331%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.662%;
}

.col-xs-4 {
    width: 33.332%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.662%;
}

.col-xs-1 {
    width: 8.332%;
}


/* End Grid Code Here */


/***********************************/


/* VARIOUS MEDIA QUERRIES  */

@media screen and (min-width: 768px) {
    .row {
        margin-right: -40px;
    }
    .col {
        padding-right: 40px;
    }
    .col-sm-11 {
        width: 91.662%;
    }
    .col-sm-10 {
        width: 83.332%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.662%;
    }
    .col-sm-7 {
        width: 58.331%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.662%;
    }
    .col-sm-4 {
        width: 33.332%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.662%;
    }
    .col-sm-1 {
        width: 8.332%;
    }
}

@media screen and (min-width: 1024px) {
    .col-md-11 {
        width: 91.662%;
    }
    .col-md-10 {
        width: 83.332%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.662%;
    }
    .col-md-7 {
        width: 58.331%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.662%;
    }
    .col-md-4 {
        width: 33.332%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.662%;
    }
    .col-md-1 {
        width: 8.332%;
    }
}

@media screen and (min-width: 1280px) {
    .col-lg-11 {
        width: 91.662%;
    }
    .col-lg-10 {
        width: 83.332%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.662%;
    }
    .col-lg-7 {
        width: 58.331%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.662%;
    }
    .col-lg-4 {
        width: 33.332%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.662%;
    }
    .col-lg-1 {
        width: 8.332%;
    }
}

@media screen and (max-width: 1023px) {
    .push-down-sm {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .push-down-sm {
        margin-bottom: 15px;
    }
}


/* ******************************** */


/* EMPTY-DIV */

.empty-div>p {
    height: 50vh;
    /* background-color: #B6DA26; */
    background-color: #79B4A9;
    /* margin: 200px; */
    /* padding: 25px 50px; */
}


/* ******************************** */


/* FOOTER */

.footer-container {
    color: #fff;
    background-color: #365267;
    padding: 2rem 0 4rem 0;
    margin-bottom: 0;
}

.footer {
    display: flex;
    width: 80%;
    height: 40vh;
    font-size: 85%;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer-email-form #footer-email:hover {
    border: 2px solid tomato;
}

.footer-email-form #footer-email::placeholder:hover {
    color: tomato;
}

#footer-email-btn {
    width: 100px;
    height: 45px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    border: none;
    background-color: #337af1;
    color: #e7eff5;
}

.footer-email-form h2 {
    margin-bottom: 2em;
}

.footer-email-form #footer-email-btn {
    cursor: pointer;
    margin-left: 5px;
}

.footer-email-form #footer-email-btn:hover {
    cursor: pointer;
    background-color: tomato;
    color: #fff;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}

.footer-container p {
    text-align: center;
    margin-top: 100px;
    color: #fff;
}

.footer-heading a:hover {
    color: tomato;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
}


/* FOOTER : MEDIA QUERRIES */

@media screen and (max-width: 1150px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .footer-3 {
        display: none;
    }
    .footer-email-form {
        margin-top: 2rem;
    }
    .footer-email-form>h2 {
        margin-bottom: 2rem;
    }
}


/***********************************/


/* CLEARING FLOATS */

.row:before,
.row:after,
.group:before,
.group:after {
    content: "";
    display: table;
}

.row:after,
.group:after {
    clear: both;
}

.row,
.group {
    zoom: 1;
}