        /* CUSTOM FONTS  : Defined Fonts*/
        
        @font-face {
            font-family: 'PTSans';
            src: url('fonts/PT-Sans.eot');
            src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans.woff') format('woff'), url('fonts/PT-Sans.ttf') format('truetype'), url('fonts/PT-Sans.svg#pt_sansregular') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'PTSans';
            src: url('fonts/PT-Sans-Bold.eot');
            src: url('fonts/PT-Sans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans-Bold.woff') format('woff'), url('fonts/PT-Sans-Bold.ttf') format('truetype'), url('fonts/PT-Sans-Bold.svg#pt_sansregular') format('svg');
            font-weight: bold;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'PTSans';
            src: url('fonts/PT-Sans-Italic.eot');
            src: url('fonts/PT-Sans-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans-Italic.woff') format('woff'), url('fonts/PT-Sans-Italic.ttf') format('truetype'), url('fonts/PT-Sans-Italic.svg#pt_sansregular') format('svg');
            font-weight: normal;
            font-style: italic;
        }
        
        @font-face {
            font-family: 'PTSans';
            src: url('fonts/PT-Sans-BoldItalic.eot');
            src: url('fonts/PT-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/PT-Sans-BoldItalic.woff') format('woff'), url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'), url('fonts/PT-Sans-BoldItalic.svg#pt_sansregular') format('svg');
            font-weight: bold;
            font-style: italic;
        }
        /***********************************************/
        
        html {
            background-color: #9cb370;
        }
        
        body {
            font-family: 'PTSans', Arial, sans-serif;
            font-size: 90%;
            margin: 0;
            padding: 0;
        }
        /***********************************************/
        /* FULL WIDTH BACKGROUND */
        /* HEADER -  BACKGROUND IMAGE */
        
        .container {
            max-width: 940px;
            margin: 0 auto;
            padding-left: 40px;
            padding-right: 40px;
            box-sizing: border-box;
        }
        /* BACKGROUND IMAGE ON THE HEADER */
        
        header {
            padding-top: 175px;
            margin: 0;
            color: #617140;
            background-color: rgb(197, 190, 148);
            background-image: url(../images/flower.jpg);
            background-position: auto;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        header h1 {
            margin: 0;
            font-weight: normal;
            font-size: 168%;
        }
        
        header h4 {
            margin: 0;
        }
        /***********************************************/
        /* MAIN COLUMN -- TYPOGRAPHY */
        
        .main-area h2,
        .sidebar h2 {
            font-family: @font-face;
            font-size: 200%;
            font-weight: normal;
            font-style: italic;
            letter-spacing: 3px;
            word-spacing: 5px;
            text-shadow: 2px 5px 5px #999999;
        }
        
        .main-area p {
            font-size: 110%;
            text-align: justify;
            text-indent: 25px;
            line-height: 1.5;
        }
        /***********************************************/
        /**** SPRITES CSS *****/
        /* CLASS : UI MENU */
        
        .ui-menu ul {
            margin: 0;
            padding: 0;
        }
        
        .ui-menu li {
            float: left;
            list-style: none;
            margin-right: 20px;
        }
        /* SPRITES SPECIFICATIONS */
        
        .ui-menu a {
            display: block;
            width: 50px;
            height: 50px;
            background-image: url(../images/sprites.png);
            /* hiding the text sprites: */
            text-indent: -9999px;
        }
        /* Unique classes for each link <a>
with the value 0 means HORIZONTAL
 */
        
        .ui-profile a {
            background-position: 0 -50px;
        }
        
        .ui-settings a {
            background-position: 0 -100px;
        }
        /* HOVER SPRITES CSS */
        /* Unique classes for each link <a>
with the value 0 means VERTICAL
 */
        
        .ui-home a:hover {
            background-position: -50px 0;
        }
        
        .ui-profile a:hover {
            background-position: -50px -50px;
        }
        
        .ui-settings a:hover {
            background-position: -50px -100px;
        }
        /* HOVER TOOLTIP SPRITES CSS */
        
        .tooltip {
            position: relative;
            display: inline-block;
            /* border-bottom: 1px dotted black; */
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 50px;
            /* background-color: rgba(0, 0, 0, 0.3); */
            color: #000;
            text-align: center;
            /* border-radius: 6px; */
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
        /***********************************************/
        /* SQUIRREL IMAGE */
        
        img {
            max-width: 100%;
            height: auto;
            /* object-fit: contain; */
        }
        /* IMAGE BANNER */
        
        .image-banner {
            position: relative;
            /* left: 100px; */
            z-index: 10;
        }
        
        .image-banner img {
            display: block;
        }
        /* IMAGE OVERLAY :Banner Overlay */
        
        .banner-description {
            position: absolute;
            bottom: 0px;
            left: 0px;
            color: #fff;
            background-color: rgba(6, 0, 0, 0.5);
            padding: 15px 25px;
        }
        /***********************************************/
        /**** NAVIGATION -- MENU*****/
        
        .site-nav {
            margin-top: 20px;
        }
        
        .site-nav ul {
            margin: 0;
            padding: 0;
        }
        
        .site-nav li {
            float: left;
            list-style: none;
            margin-right: 5px;
        }
        
        .site-nav a {
            display: block;
            text-decoration: none;
            color: #617140;
            background-color: #fff;
            padding: 10px 20px;
            border: 3px solid #e5e9dc;
            border-bottom: none;
            border-radius: 10px 10px 0px 0px;
            -webkit-border-radius: 10px 10px 0px 0px;
            -moz-border-radius: 10px 10px 0px 0px;
            -ms-border-radius: 10px 10px 0px 0px;
            -o-border-radius: 10px 10px 0px 0px;
        }
        
        .site-nav a:hover {
            background-color: #e5e9dc;
        }
        /* End of Navigation Menu */
        
        .content-area {
            border-top: 3px solid #e5e9dc;
            border-bottom: 3px solid #e5e9dc;
            background-color: #FFF;
        }
        
        .main-area {
            width: 66%;
            float: left;
            padding-right: 40px;
            box-sizing: border-box;
        }
        /***********************************************/
        /* TABLE STYLES */
        
        table {
            border-spacing: 0px;
            border-collapse: collapse;
            width: 100%;
        }
        
        .col-item-name {
            width: 60%;
        }
        
        .col-quantity,
        .col-price {
            width: 20%;
        }
        /* Table Header */
        
        table th {
            text-align: left;
            background-color: #869960;
            color: #fff;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
        }
        /* Table Border */
        
        table th,
        table td {
            border: 1px solid #869960;
            padding: 10px;
            vertical-align: top;
        }
        /* Table Striping */
        
        table tbody tr:nth-child(even) td {
            background-color: #e5e9dc;
        }
        /* Text Align Center : Column 2 & 3 */
        
        table.grocery-list tr :nth-child(2),
        table.grocery-list tr :nth-child(3) {
            text-align: center;
        }
        /***********************************************/
        /* FORMS STYLE */
        
        form {
            background-color: #ececec;
            padding: 30px 40px;
        }
        
        .hidden-label {
            position: absolute;
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
        }
        
        input,
        select {
            font-family: Tahoma, sans-serif;
            font-size: 100%;
        }
        
        input[type="email"],
        input[type="password"],
        input[type="text"],
        input[type="number"],
        input[type="tel"],
        select {
            width: 100%;
            display: block;
            box-sizing: border-box;
            padding: 0 10px;
            height: 40px;
            margin-bottom: 15px;
            border: 1px solid #cdcdcd;
            outline: none;
        }
        
        input[type="email"]:focus,
        input[type="password"]:focus,
        input[type="text"]:focus,
        input[type="number"]:focus,
        input[type="tel"]:focus {
            border: 1px solid #869960;
            box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
        }
        
        input[type="email"]:hover,
        input[type="password"]:hover,
        input[type="text"]:hover,
        input[type="number"]:hover,
        input[type="tel"]:hover,
        select:hover {
            border: 1px solid #535e3b;
            box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
            cursor: pointer;
        }
        
        input[type="submit"] {
            width: 100%;
            display: block;
            box-sizing: border-box;
            background-color: #869960;
            color: #fff;
            padding: 10px 0;
            border: 1px solid #798a56;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            outline: none;
            margin-bottom: 10px;
        }
        
        input[type="submit"]:hover,
        input[type="submit"]:focus {
            border: 1px solid #535e3b;
            background: #798a56;
            cursor: pointer;
        }
        
        .checkbox-text {
            font-size: 85%;
            color: #777;
        }
        /***********************************************/
        /* BIRD IMAGE*/
        
        .birds {
            background: #c2bbb1 url(../images/bird.jpg) center center no-repeat;
            background-size: cover;
            text-align: center;
            padding: 150px 0px;
        }
        
        .birds p {
            margin: 0;
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
            text-shadow: 1px 1px 0 #000;
            display: inline;
            padding: 10px;
        }
        /***********************************************/
        /* SIDE BAR */
        
        .sidebar {
            /* z-index: 11; */
            /* GRADIENT BACKGROUND FOR OLDER BROWSERS */
            background-color: #b2ca7b;
            background-image: -webkit-linear-gradient(top, #b2ca7b, #fff);
            background-image: -moz-linear-gradient(top, #b2ca7b, #fff);
            background-image: -ms-linear-gradient(top, #b2ca7b, #fff);
            background-image: -o-linear-gradient(top, #b2ca7b, #fff);
            /* GRADIENT BACKGROUND : SIDEBAR - FOR UPTODATE BROWSERS */
            background-image: linear-gradient(to bottom, #b2ca7b, #FFF);
            width: 34%;
            float: left;
            padding: 20px 40px 20px 40px;
            box-sizing: border-box;
            font-size: 85%;
            line-height: 1.5;
        }
        /* ********************************** */
        
        footer {
            text-align: center;
            font-size: 85%;
            color: #fff;
            padding-bottom: 20px;
            padding-top: 20px;
        }
        /* IDEAL PRACTICE ON CLEARING FLOATS ==> "CLEARFIX" METHOD */
        
        .group:before,
        .group:after {
            content: "";
            display: table;
        }
        
        .group:after {
            clear: both;
        }
        
        .group {
            zoom: 1;
        }
        /*********************************/