html {
    background-color: #9cb370;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 88%;
}

header {
    padding-top: 20px;
    color: #617140;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 168%;
}

header h4 {
    margin: 0;
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}


/**** NAVIGATION -- MENU*****/

.site-nav {
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}

.site-nav a {
    display: block;
    text-decoration: none;
    color: #617140;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
}

.site-nav a:hover {
    background-color: #e5e9dc;
}


/* End of Navigation Menu */

.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.sidebar {
    background-color: #e5e9dc;
    width: 34%;
    float: left;
    padding: 20px 40px 20px 40px;
    /* padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px; */
    box-sizing: border-box;
    font-size: 85%;
}


/* ********************************** */


/* IDEAL PRACTICE ON CLEARING FLOATS ==> "CLEARFIX" METHOD */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}


/*********************************/

footer {
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}